.operations-admin-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.operations-admin-page h1 {
    text-align: center;
    color: #333;
}

.operations-admin-page table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.operations-admin-page th, .operations-admin-page td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.operations-admin-page th {
    background-color: #f2f2f2;
}

.operations-admin-page tr:hover {
    background-color: #f1f1f1;
}

.operations-admin-page button {
    padding: 8px 12px;
    margin-right: 5px; /* Удалите или измените это значение, если нужно */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.operations-admin-page button:hover {
    background-color: #0056b3;
}

.operations-admin-page button.delete-button {
    margin: 5px 0; /* Добавьте отступ сверху и снизу */
}

.operations-admin-page input[type="text"],
.operations-admin-page textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.operations-admin-page textarea {
    resize: vertical;
}

.operations-admin-page h2 {
    margin-top: 30px;
    color: #333;
}